Source: dtinfocl
Section: devel
Priority: optional
Maintainer: Alexis Giraudet <alexis.giraudet@nav-timing.safrangroup.com>
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.7.3
Homepage: https://www.dektec.com/downloads/utilities/
Rules-Requires-Root: no

Package: dtinfocl
Architecture: all
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description: Command-Line Hardware Information Tool
 Command-line version of the DtInfo utility.
 Lists DekTec devices in your Linux system.
