Source: dektec-dtinfocl
Section: devel
Priority: optional
Maintainer: Alexis Giraudet <alexis.giraudet@nav-timing.safrangroup.com>
Build-Depends:
 debhelper-compat (= 13),
 unzip,
Standards-Version: 4.7.3
Homepage: https://www.dektec.com/downloads/utilities/
Rules-Requires-Root: no

Package: dektec-dtinfocl
Architecture: amd64
Depends:
 ${misc:Depends},
Description: DekTec command-line hardware information tool
 Command-line version of the DtInfo utility.
 Lists DekTec devices in your Linux system.
